
# https://emn178.github.io/online-tools/sha256.html
PASSWORD_HASH=PASSWORD_HASH

# $ symbols must be escaped with \
# https://jsonbin.io/
JSONBIN_API_KEY=JSONBIN_API_KEY

JSONBIN_DATA_BIN_ID=JSONBIN_DATA_BIN_ID
JSONBIN_VISITS_BIN_ID=JSONBIN_VISITS_BIN_ID
JSONBIN_NOTES_BIN_ID=JSONBIN_NOTES_BIN_ID

# https://api.imgbb.com/
IMGBB_API_KEY=IMGBB_API_KEY