
# https://emn178.github.io/online-tools/sha256.html
VITE_ADMIN_PASSWORD_HASH=hash

# $ symbols must be escaped
# https://jsonbin.io/
VITE_JSONBIN_API_KEY=jsonbin_api_key

VITE_JSONBIN_VISITS_BIN_ID=visits_bin_id
VITE_JSONBIN_DATA_BIN_ID=data_bin_id

# https://api.imgbb.com/
VITE_IMGBB_API_KEY=imagebb_api_key
